* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    touch-action: none;
}

.names-image-link {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    pointer-events: auto;
    display: block;
}

.names-image {
    display: block;
    pointer-events: auto;
}

.names-image-link:hover .names-image {
    /* opacity: 0.8; */
    filter: grayscale(100%);

}